pandas
pyarrow
google-genai
openai
sentence-transformers
elasticsearch==8.15.0 
elasticsearch-dsl==8.15.0
faiss-cpu
pyyaml
scikit-learn
json_repair
python-dotenv
pytorch-lightning
datasets==4.6.1
optuna